.starter-template{
    padding-top: 65px;
}

p {
    line-height: 1.5;
    margin: 30px 0;
}

.font18 {
    font-size: 18px;
}
.font-bold, .topsubnav ul li a:hover {
    font-weight: 700;
}

.mas, .mhs, .mls {
    margin-left: 8px;
}
.man, .mbn, .mvn, .navbar-text {
    margin-bottom: 0;
}

.tiles{
    box-sizing: border-box;
    color: rgb(108, 109, 111);
    height: 97px;
    position: relative;
    text-align: center;
    width: 100%;
    perspective-origin: 228.75px 46px;
    transform-origin: 228.75px 46px;
    background: rgb(244, 244, 244) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(108, 109, 111);
    font: normal normal normal normal 16px / 27.5555px Karla, Helvetica, Arial, sans-serif;
    margin: 0px 0px 27px;
    outline: rgb(108, 109, 111) none 0px;
}

.latest-left {
    margin-top: 14px;
}

.prn {
    padding-right: 0;
}

.pln {
    padding-left: 0;
}

.bg-notification {
    background-color: #f4f4f4!important;
}

.v-middle {
    vertical-align: middle!important;
}

.img-circle {
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #6CCDDA;
    width: 64px;
    height: 64px;
}

.img-circle-high {
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #6CCDDA;
    width: 128px;
    height: 128px;
}

.latesttripname{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.display-ib {
    display: inline-block;
}

.bg-journey {
    background-color: #e7e7e7;
}

.pam, .phm, .plm {
    padding-left: 16px;
}
.pas, .pbs, .pvs {
    padding-bottom: 8px;
}
.pas, .pts, .pvs {
    padding-top: 8px;
}

#trajetCircleDiv {
    box-sizing: border-box;
    color: rgb(108, 109, 111);
    height: 76px;
    position: relative;
    text-align: center;
    width: 18px;
    perspective-origin: 9px 38px;
    transform-origin: 9px 38px;
    border: 0px none rgb(108, 109, 111);
    font: normal normal normal normal 16px / 27.5555px Karla, Helvetica, Arial, sans-serif;
    outline: rgb(108, 109, 111) none 0px;
}

#trajetCircleSpan1 {
    box-sizing: border-box;
    color: #6CCDDA;
    display: block;
    height: 18px;
    text-align: center;
    width: 18px;
    perspective-origin: 9px 9px;
    transform-origin: 9px 9px;
    border: 4px solid #6CCDDA;
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal normal 16px / 22px Karla, Helvetica, Arial, sans-serif;
    outline: #6CCDDA none 0px;
}

#trajetCircleSpan2 {
    box-sizing: border-box;
    color: rgb(108, 109, 111);
    display: block;
    height: 42px;
    text-align: center;
    width: 4px;
    perspective-origin: 2px 21px;
    transform-origin: 2px 21px;
    background: #6CCDDA none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(108, 109, 111);
    font: normal normal normal normal 16px / 27.5555px Karla, Helvetica, Arial, sans-serif;
    margin: 0px 7px;
    outline: rgb(108, 109, 111) none 0px;
}

#trajetCircleSpan3 {
    bottom: 0px;
    box-sizing: border-box;
    color: #6CCDDA;
    display: block;
    height: 18px;
    position: absolute;
    text-align: center;
    width: 18px;
    perspective-origin: 9px 9px;
    transform-origin: 9px 9px;
    border: 4px solid #6CCDDA;
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal normal 16px / 22px Karla, Helvetica, Arial, sans-serif;
    outline: #6CCDDA none 0px;
}

#trajetCircleSpan1Bis {
    box-sizing: border-box;
    color: #F46C7C;
    display: block;
    height: 18px;
    text-align: center;
    width: 18px;
    perspective-origin: 9px 9px;
    transform-origin: 9px 9px;
    border: 4px solid #F46C7C;
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal normal 16px / 22px Karla, Helvetica, Arial, sans-serif;
    outline: #F46C7C none 0px;
}

#trajetCircleSpan2Bis {
    box-sizing: border-box;
    color: #F46C7C;
    display: block;
    height: 42px;
    text-align: center;
    width: 4px;
    perspective-origin: 2px 21px;
    transform-origin: 2px 21px;
    background: #F46C7C none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none #F46C7C;
    font: normal normal normal normal 16px / 27.5555px Karla, Helvetica, Arial, sans-serif;
    margin: 0px 7px;
    outline: #F46C7C none 0px;
}

#trajetCircleSpan3Bis {
    bottom: 0px;
    box-sizing: border-box;
    color: #F46C7C;
    display: block;
    height: 18px;
    position: absolute;
    text-align: center;
    width: 18px;
    perspective-origin: 9px 9px;
    transform-origin: 9px 9px;
    border: 4px solid #F46C7C;
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal normal 16px / 22px Karla, Helvetica, Arial, sans-serif;
    outline: #F46C7C none 0px;
}

#trajetCircleDivBis {
    box-sizing: border-box;
    color: rgb(108, 109, 111);
    position: relative;
    text-align: center;
    width: 18px;
    perspective-origin: 9px 38px;
    transform-origin: 9px 38px;
    border: 0px none rgb(108, 109, 111);
    font: normal normal normal normal 16px / 27.5555px Karla, Helvetica, Arial, sans-serif;
    outline: rgb(108, 109, 111) none 0px;
}

#trajetCircleSpanImage {
    box-sizing: border-box;
    color: #6CCDDA;
    display: block;
    height: 64px;
    text-align: center;
    width: 64px;
    perspective-origin: 9px 9px;
    transform-origin: 9px 9px;
    border: 4px solid #6CCDDA;
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal normal 16px / 22px Karla, Helvetica, Arial, sans-serif;
    outline: #6CCDDA none 0px;
}

#trajetCircleSpanBarre {
    box-sizing: border-box;
    color: rgb(108, 109, 111);
    display: block;
    height: 42px;
    text-align: center;
    width: 4px;
    perspective-origin: 2px 21px;
    transform-origin: 2px 21px;
    background: #6CCDDA none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(108, 109, 111);
    font: normal normal normal normal 16px / 27.5555px Karla, Helvetica, Arial, sans-serif;
    margin: 0px 30px;
    outline: rgb(108, 109, 111) none 0px;
}

#trajetCircleSpanImageRed {
    bottom: 0px;
    box-sizing: border-box;
    color: #F46C7C;
    display: block;
    height: 64px;
    position: absolute;
    text-align: center;
    width: 64px;
    perspective-origin: 9px 9px;
    transform-origin: 9px 9px;
    border: 4px solid #F46C7C;
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal normal 16px / 22px Karla, Helvetica, Arial, sans-serif;
    outline: #F46C7C none 0px;
}

legend{
    margin-bottom: 0;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

th {text-align:center}

fieldset p {
    line-height: 0px  !important;
    font-size: 14px;
}


.btn-rouge {
    color: #fff;
    background-color: #F46C7C;
    border-color: #F46C71;
}

.btn-rouge:hover {
    color: #fff;
    background-color: #F46C87;
    border-color: #F46C7C;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help{
    font-size: 12px;
}

.form-group{
    font-size:14px;
}
